<!-- Riht content -->
<div class="trand-right-single d-flex">
    <div class="trand-right-img">
        <img src="assets/img/trending/right1.jpg" alt="">
    </div>
    <div class="trand-right-cap">
        <span class="color1">Concert</span>
        <h4><a [routerLink]="['/news-details', 4]">Welcome To The Best Model Winner Contest</a></h4>
    </div>
</div>
<div class="trand-right-single d-flex">
    <div class="trand-right-img">
        <img src="assets/img/trending/right2.jpg" alt="">
    </div>
    <div class="trand-right-cap">
        <span class="color3">sea beach</span>
        <h4><a [routerLink]="['/news-details', 5]">Welcome To The Best Model Winner Contest</a></h4>
    </div>
</div>
<div class="trand-right-single d-flex">
    <div class="trand-right-img">
        <img src="assets/img/trending/right3.jpg" alt="">
    </div>
    <div class="trand-right-cap">
        <span class="color2">Bike Show</span>
        <h4><a [routerLink]="['/news-details', 6]">Welcome To The Best Model Winner Contest</a></h4>
    </div>
</div>
<div class="trand-right-single d-flex">
    <div class="trand-right-img">
        <img src="assets/img/trending/right4.jpg" alt="">
    </div>
    <div class="trand-right-cap">
        <span class="color4">See beach</span>
        <h4><a [routerLink]="['/news-details', 7]">Welcome To The Best Model Winner Contest</a></h4>
    </div>
</div>
<div class="trand-right-single d-flex">
    <div class="trand-right-img">
        <img src="assets/img/trending/right5.jpg" alt="">
    </div>
    <div class="trand-right-cap">
        <span class="color1">Skeping</span>
        <h4><a [routerLink]="['/news-details', 8]">Welcome To The Best Model Winner Contest</a></h4>
    </div>
</div>