<div class="row">
    <div class="col-lg-12">
        <!-- Trending Tittle -->
        <div class="about-right mb-90">
            <div class="about-img">
                <img src="{{myData[id].pic}}" alt="" width="60%" height="60%">
            </div>
            <div class="section-tittle mb-30 pt-30">
                <h3>{{myData[id].heading}}</h3>
            </div>
            <div class="about-prea">
                <p class="black-color mb-25">{{myData[id].para}}</p>
            </div>
        </div>
    </div>
</div>
